* {
    margin: 0;
    background-color: 	#F8F8FF;  
}  

.cabecalho {
  background-color:  #4d65ff;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end; /* Alinha o conteúdo à direita */
  align-items: center;
  font-family: Arial, sans-serif;
}

.cabecalho ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.cabecalho li {
  margin-left: auto;
}

.cabecalho a {
  text-decoration: none;
  color: #211e1e;
  background-color: #FCFC30;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cabecalho a:hover {
  background-color: #e0e000;
}

img{
  height: 10px;
  width: 10px;
  border-radius: 2px;
}


p {
    padding: 10px;
}
        .tooltip {
            background-color: transparent;
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

        .tooltip2 {
            background-color: transparent;
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

        .tooltip3 {
            background-color: transparent;
            position: relative;
            display: inline-block;
            cursor: pointer;
        }


        .tooltip img {
            display: none;
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
            width: 330px; /* Aumentei o tamanho da imagem */
            height: auto;
            border: 1px solid #ccc;
            background: #f9f9f9; /* Fundo mais claro */
            padding: 10px; /* Aumentei o padding */
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Aumentei a sombra */
            margin: 20px; /* Adicionei margem */
        }

        .tooltip2 img {
            display: none;
            position: absolute;
            top: 30px;
            left: 150px;
            transform: translateX(-50%);
            width: 330px; /* Aumentei o tamanho da imagem */
            height: auto;
            border: 1px solid #ccc;
            background: #f9f9f9; /* Fundo mais claro */
            padding: 10px; /* Aumentei o padding */
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Aumentei a sombra */
            margin: 20px; /* Adicionei margem */
        }

        .tooltip3 img {
            display: none;
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translateY(-100px);
            /* transform: translateX(-50%); */
            width: 330px; /* Aumentei o tamanho da imagem */
            height: auto;
            border: 1px solid #ccc;
            background: #f9f9f9; /* Fundo mais claro */
            padding: 10px; /* Aumentei o padding */
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Aumentei a sombra */
            margin: 20px; /* Adicionei margem */
        }